<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meadberryfarms.foodapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Meadberry_Farms.example.foodapp.AdminChooseActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity android:name="Meadberry_Farms.example.foodapp.AdminTrackOrdersActivivty" />
        <activity android:name="Meadberry_Farms.example.foodapp.UserDeliveryHistoryActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.ContactUsActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.DashboardActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.AdminProductAddActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.AdminProductTypeActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.AdminLoginActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.SelectLanguageActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.OrderPlacedActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.PlaceOrderActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.PaymentModeActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.PersonInformationActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.TotalItemsActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.ProductDescriptionActivity" />
        <activity
            android:name="Meadberry_Farms.example.foodapp.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="Meadberry_Farms.example.foodapp.NewPasswordActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.EnterOTPActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.ForgotPasswordActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.RegisterActivity" />
        <activity android:name="Meadberry_Farms.example.foodapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Meadberry_Farms.example.foodapp.LoginActivity" />
    </application>

</manifest>